<h4>Lily Grumbach
    <br>M1 Humanités numériques - Université PSL</h4>
<h1><center>Rendu TAIS-TAL </center></h1>
<h2><center>Partie TAIS</center></h2>
<h3><center>2/3 : Extraire des bases de données à ma disposition les coordonnées des lieux et créer un dictionnaire de désambiguisation de mes données</center></h3>

<b><u>PLAN:</u></b>
1) Harmonisation des données Géopolitiques pour le fond de carte de 1914
<br>
    
2) Explorer les bases de données à ma disposition (IREL et GPH) et les préparer pour l'extraction des coordonnées géographiques
<br/>
    
<h4>3) Géoréférencer les données de mes revues</h4>

<b>Stratégie en place :  </b>

Nous avons 3 sources possibles de désambiguisation : 
* **Wikidata** indiqués par le medialab 
* l'**IREL**, la base de données géographique de l'inventaire en ligne des Archives nationales d'Outre Mer
* **Geonames**, pour le meilleur et pour le pire.

<h3>Objectifs de la partie : </h3>
1) A court terme : récupérer les coordonnées géographiques des lieux mentionnés dans notre revue


2) A long terme : avoir à disposition une base de données géographique historique exploitable pour des projets futurs.

In [1]:
#module
import desambiguisation

##General : 
from desambiguisation import ListEntities2df
##GPH
from desambiguisation import MatchGPELOC_IREL,Extract_longlat_WikiData
##IREL : 
from desambiguisation import nettoyage_df_IREL,urlencode,Extract_longlat_IREL,IREL_Nettoyage_AdminLieuDit,nettoyage_desambiguisation

#Généraux
import pandas as pd
import numpy as np
import re

#Webscrapping
from bs4 import BeautifulSoup
import geocoder
from lxml import html
import requests

#Wikidata 
import qwikidata
from qwikidata.entity import WikidataItem, WikidataLexeme, WikidataProperty
from qwikidata.linked_data_interface import get_entity_dict_from_api

# 0. Import des données :

In [2]:
#Liste des entités GPELOC à annoter :
df_GPELOC=pd.read_csv("./output_finaux/GPELOC_à_annoter.csv")

#df des lieux en 1914 avec leur lien Wikidata :
df_WikiQGIS = pd.read_csv("./output_finaux/WikiQGIS.csv")

#df de l'ensemble des lieux de GPH avec leur lien wikidata
df_wikiData = pd.read_csv("./GeoPolHist-202103/medialab-GeoPolHist-fb19b66/data/GeoPolHist_entities.csv")
df_wikiData=df_wikiData.rename(columns={"GPH_name":"NAME"})

#df des lieux dans l'IREL avec leurs coordonnées géographiques

In [3]:
df_GPELOC

                        NAME
0                     Acores
1                    Algérie
2                  Allemagne
3                 Angleterre
4                      Annam
..                       ...
220               lac Tchad.
221  île de Saint-Barthélémy
222      île de Saint-Martin
223        île de la Réunion
224        îles Saint-Pierre

[225 rows x 1 columns]

In [4]:
dico_IREL ={}
n=0

with open('./IREL/liste_lieux_IREL.js','r') as f:
    lignes = f.readlines()
    
    for l in lignes:
        l=l.split("\n")
        dico_IREL[n]=l
        n+=1

df_IREL = nettoyage_df_IREL(dico_IREL)

return: df_IREL nettoyé

In [5]:
df_IREL=df_IREL.rename(columns={"Lieu-dit":"NAME"})
# df_IREL

# 1. GPH : Retrouver dans wikidata les coordonnées géographiques

=> La méthode que nous avons mis en place pour récupérer l'ensemble des coordonnées n'a pas été concluante malgré les nombreux efforts pour éviter l'ensemble des messages d'erreur provenantde WikiData. Nous envisageons reprendre la fonction du module pour l'appliquer par silots de 100 lieux afin d'avoir plus de contrôle dessus.

#### Pour extraire TOUTES les coordonnées géographiques des entités de `GPH`

In [13]:
pattern = r"(Q\d+)"
df_wikiData["Q_code"] = df_wikiData["wikidata"].str.extract(pattern)
df_wikiData.to_csv("./output_secondaires/GPH_Wikidata_Qcode.csv")

List_Q_code_all =df_wikiData["Q_code"].tolist()
output_path_all = "./output_finaux/GPELOC_GPH_coordonnees_all.csv"

## ETAPE TRES LONGUE. Nous avons enregistré le resultat dans output_path_all 
# Extract_longlat_WikiData(List_Q_code_all,output_path_all)

In [19]:
Q_code_sans_coordonnées :  ['Q899706', 'Q16550783', 'Q673865', 'Q161215', 'Q836680', 'Q531783', 'Q639100', 'Q315667', 'Q675085', 'Q3462133', 'Q157710', 'Q630163', 'Q695316', 'Q159631', 'Q310650', 'Q2577303', 'Q252580', 'Q4394393', 'Q797214', 'Q590743', 'Q1301901', 'Q639691', 'Q848668', 'Q1191986', 'Q7252591', 'Q1865132', 'Q646374', 'Q323904', 'Q214102', 'Q81931', 'Q7566712', 'Q1472105', 'Q170603', 'Q211435', 'Q2450821', 'Q3559284', 'Q281005', 'Q3512355', 'Q116970', 'Q965661', 'Q924833', 'Q635394', 'Q3433004', 'Q862467', 'Q3311513', 'Q1502813', 'Q760741', 'Q1587244', 'Q65123867', 'Q3434028', 'Q6412616', 'Q1791839', 'Q418389', 'Q1164302', 'Q1477754', 'Q1644002', 'Q770833', 'Q770776', 'Q5448221', 'Q17029087', 'Q849623', 'Q121869', 'Q1139762', 'Q1796221', 'Q5995069', 'Q1658023', 'Q849623', 'Q2566427', 'Q55425392', 'Q1472873', 'Q1132786', 'Q4778463', 'Q60775599', 'Q1796223', 'Q3820436', 'Q3321385', 'Q209327', 'Q691037', 'Q2795682', 'Q2538511', 'Q1824726', 'Q28455505', 'Q862404', 'Q862518', 'Q5372551', 'Q48723590', 'Q501684', 'Q5618018', 'Q791787', 'Q808750', 'Q3780537', 'Q5675285', 'Q2753015', 'Q2400545', 'Q986822', 'Q1640913', 'Q7135313', 'Q220167', 'Q557842', 'Q37102', 'Q3591817', 'Q1474791', 'Q2682087', 'Q146740', 'Q30633791', 'Q2121845', 'Q65050489', 'Q65051443', 'Q704714', 'Q708865', 'Q696242', 'Q2591393', 'Q2571484', 'Q5105376', 'Q83618', 'Q3246260', 'Q3243592', 'Q7987998', 'Q7987998', 'Q7987998', 'Q7987998', 'Q5924152', 'Q6452045', 'Q6794457', 'Q11938356', 'Q642143', 'Q7207854', 'Q11955494', 'Q675039', 'Q5924160', 'Q18125697', 'Q6746031', 'Q6745279', 'Q18127914', 'Q6365345', 'Q19955896', 'Q10828323', 'Q3112053', 'Q1794655', 'Q12491027', 'Q4393602', 'Q1376651', 'Q1665892', 'Q38130', 'Q1065']

#Importation des donnéesavec Q_code, latitude et longitude 
df_WikiData_longlat_all = pd.read_csv(output_path_all)

df_wikiData
#Merge avec les noms pour avoir l'ensemble sur le WikiData

,GPH_code,NAME,continent,wikidata,wikidata_alt1,wikidata_alt2,wikidata_alt3,notes,Q_code
0,2,United States of America,America,http://www.wikidata.org/entity/Q30,NaN,NaN,NaN,NaN,Q30
1,3,Alaska,America,http://www.wikidata.org/entity/Q797,NaN,NaN,NaN,NaN,Q797
2,4,Hawaii,America,http://www.wikidata.org/entity/Q782,NaN,NaN,NaN,NaN,Q782
3,5,Virgin Islands,America,http://www.wikidata.org/entity/Q11703,NaN,NaN,NaN,NaN,Q11703
4,6,Puerto Rico,America,http://www.wikidata.org/entity/Q1183,NaN,NaN,NaN,NaN,Q1183
...,...,...,...,...,...,...,...,...,...
1223,9994,Ross Dependency,Oceania,http://www.wikidata.org/entity/Q203073,NaN,NaN,NaN,NaN,Q203073
1224,9998,Concessions in China,World,https://www.wikidata.org/wiki/Q1376651,NaN,NaN,NaN,NaN,Q1376651
1225,9999,Inter-Allied Commission of Control,World,https://www.wikidata.org/wiki/Q1665892,NaN,NaN,NaN,NaN,Q1665892
1226,0,League of Nations,World,https://www.wikidata.org/wiki/Q38130,NaN,NaN,NaN,NaN,Q38130
1227,1,United Nations,World,https://www.wikidata.org/wiki/Q1065,NaN,NaN,NaN,NaN,Q1065

#### Récupérer les long/lat des données  `GPELOC` de 1898 à 1908 et les merge avec les longitudes et latitudes

In [27]:
df_WikiData_longlat_Name = pd.merge(df_wikiData[["GPH_code","NAME","Q_code"]],df_WikiData_longlat_all,how="inner",on="Q_code")

In [29]:
df_WikiDatdf_WikiData_longlat_18981914a_longlat_18981914 =pd.merge(df_WikiData_longlat_Name,df_GPELOC,how="inner",on="NAME")

df_WikiData_longlat_18981914.to_csv("./output_finaux/GPH_GPELOC_longlat.csv",index=False)

df_WikiData_longlat_18981914

    GPH_code         NAME     Q_code   latitude   longitude
0         40         Cuba       Q241  22.000000  -79.500000
1         65   Guadeloupe     Q17012  16.250000  -61.583333
2         66   Martinique     Q17054  14.666667  -61.000000
3        220       France       Q142  47.000000    2.000000
4        231    Gibraltar      Q1410  36.137750   -5.345361
5        436        Niger      Q1032  17.000000   10.000000
6        481        Gabon      Q1000  -0.683331   11.500000
7        511     Zanzibar      Q1774  -6.133333   39.316667
8        812         Laos       Q819  18.200000  104.000000
9        840  Philippines       Q928  12.000000  123.000000
10      9900        Samoa       Q683 -14.000000 -172.000000
11      9900        Samoa       Q683 -14.000000 -172.000000
12      3253        Milan       Q490  45.466944    9.190000
13      4353       Tagant    Q843903  18.700000  -10.200000
14      4362       Zinder    Q204365  13.800000    8.983333
15      4781        Lagos      Q8673   6.450000    3.400000
16      4842       Loango   Q1479630  -4.710600   11.837800
17      5812      Mayotte     Q17063 -12.843056   45.138333
18      5813      Anjouan    Q231324 -12.215000   44.425000
19      6161      Bizerte    Q189546  37.274444    9.873889
20      7109       Yunnan     Q43194  24.500000  101.500000
21      8152        Annam  Q10828323   0.000000    0.000000
22      8153       Tonkin      Q1858  21.024500  105.841170
23      9606       Tahiti     Q42000 -17.666667 -149.466667

### On merge la liste des latitudes/longitudes `GPELOC_GPH ` (càd trouvées dans la base de données GPH) avec la liste de l'ensemble  des lieux à géoréférencer pour nos revues, `df_GPELOC`

NameError: name 'df_GPE_LOC' is not defined